.bg-dark{
    background-color:cadetblue !important;
    border-bottom:3px solid coral;
}
.navbar-nav{margin-right:8vw;}
.nav-item a.nav-link:hover{
    color:#444 !important;
}
a.dropdown-item:hover{
    color: tomato !important;
}
.my-sm-0{background-color: darkviolet;color:wheat;}

.carousel-caption h3{
    color:red;
}

.carousel-caption p{
    color:yellow;
}
.img-fluid{
    max-width:200px !important;
}

.hidden-section{
    border-bottom:2px solid blue;
}
.footer-section{
    background-color: yellow; border-top: 2px solid chocolate;
}
.fa{
    font-size:2em !important; padding:0.5em;
}
.fa-facebook{color:lightskyblue !important;}
.fa-youtube{color:red !important;}
.fa-twitter{color:lightsteelblue !important;}
.fa-instagram{color:darkmagenta !important;}